*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common shared style */
body{
    font-family: "Open Sans", sans-serif;
}

/* header style starts */
header{
    height: 600px;
    background-image: url('../resources/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.header-title{
    color: #090418;
    text-align: center;
    padding: 180px;
    opacity: 1;
}
.header-title > h3{
    font-size: 30px;
    font-weight: 700;
}
.header-title > h2{
    font-size: 55px;
    font-weight: 700;
} 
/* main starts */
main{
    margin: 0 100px 0 100px;
}
/* happy-new-year style */
main > div{
    margin-top: 50px;
}
.happy-new-year{
    text-align: center;
}
.happy-new-year > h2{
    color: #FF0000;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 25px;
}
.happy-new-year > h4{
    color: #FF0000;
    font-size: 15px;
    font-weight: 700;
}
.happy-new-year > h3{
    font-size: 15px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Welcome-to-midnight-party style*/
.welcome-to-midnight-party{
    height: 600px;
    background-image: url('../resources/Group\ 70.png'), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: 1000px 100px, center center;
}
.welcome-container{
   padding-left: 100px; 
   padding-top: 80px;
   color: white;
   width: 800px;
}
.welcome-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-primary{
    margin-top: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.details-container{
    height: 50vh;
    background-color: #ffeaea;
    font-weight: 700;
}
.details-info{
    text-align: center;
    padding-top: 80px;
}
.details-info > p{
    margin-bottom: 15px;
}
.details-info > p > span{
    color: red;
    font-size: 18px;
}
.btn-details-container{
    padding: 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
}
/* new-best-offer-container style starts */
.new-best-offer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 50px;
}
.new-best-offer-container > div{
    width: 40%;
} 
.left-column > h4{
    color: red;
    margin-bottom: 20px;
}
.left-column > h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.right-column > h2{
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}
.right-column > img{
    margin-top: 20px;
}
